# ==========================
# Entornos y configuraciones
# ==========================
.env
*.env
!.env.example
*.venv
venv/
ENV/
env/
.env.*

# ==========================
# OneDrive configs
# ==========================
*.tmp
*.lnk
*.ini
*~*
.DS_Store
Thumbs.db
desktop.ini
.onedrive

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Compiled extensions
*.so

# Distribución / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.pytest_cache/
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# ==========================
# Carpetas del proyecto
# ==========================
# Ignorar completamente logs
logs/

# Mantener carpetas vacías de resultados pero sin archivos generados
results/*
!results/.gitkeep

terminal-output/*
!terminal-output/.gitkeep

metrics-experiment/*
!metrics-experiment/.gitkeep
